body{
	background: #d7d7dc;
}

/*==============================================*/

#banner {		
	display:block;
	height: 100%;
	padding:40px;
	margin-bottom:10px;
	background: #0084ed;
	vertical-align:middle;
	font-family: Arial, Helvetica, sans-serif;
}
#banner .title{	
	font-size: 36px;	
}
#banner .subtitle{
	font-size:18px;
}
#login{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	padding: 10px;
	float:right;
	overflow: hidden;	
}

/*==============================================*/

.navMenu {
    width: 200px;
    display: block;
    float:left;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
}
.navMenu .navHeader, .navMenu li{
    color: #fff;
    text-decoration: none;
    width: 160px;
}
.navMenu .navHeader{
	font-size: 16px;
	font-weight:bold;
	padding: 5px;
	background-color: #00BEE4;
}
.navMenu ul {
    list-style-type:none;
    margin:0;
    padding:5px;
}
.navMenu li {
    font-size: 14px;
    padding: 3px;
    background-color: #686C7A;
    border-bottom: 1px solid #eee;
}
.navMenu a:link, .navMenu a:visited {
    color: #EEE;
    text-decoration: none;
}
.navMenu li:hover {
    background-color: #00BEE4;
    color: #fff;
}

/*==============================================*/

#main {
    margin-left:200px;
}
